# Fichiers Revit volumineux (à exclure absolument)
*.rvt
*.rws
*.zip
*.log

# Dossiers contenant des gros fichiers
REVIT/
1-1-ARC_*
BIMFlow_Export/
_canva/
bimatika-site/

# Dossiers de compilation (inutiles)
bin/
obj/
Debug/
Release/

# Dossiers système
.vs/
.vscode/
.git/

# Dépendances
packages/